datasets
runs

# Ignore OpenCV files
opencv_install/
opencv_contrib/
opencv_test_data/
build/
bin/
lib/
include/
modules/
test_data/

# Ignore Python files
__pycache__/
*.pyc
*.pyo
*.egg

# Ignore YOLO files
yolo.*.weights
yolo.*.cfg
yolo.*.names
yolo.*.data
yolo.*.backup

# Ignore other files
.eggs
.DS_Store
.env
.local
.dist
.build
.tox
.nox
.nox_layouts
.coverage
.cache
*.log
*.pot
*.sqlite
*.sqlite3
node_modules/
venv/
.env
.env.sample
.env.local
.env.test
.env.test.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.staging
.env.staging.local
.env.staging.sample

*.wav
*.mp3
*.db
.venv
